body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


/**========================================================================
 *                           Main Wrapper
 *========================================================================**/

#main-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}


/**========================================================================
 *                           Input Div
 *========================================================================**/

#input-div {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

#input-div .key-input-row {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

#input-div .key-input-div {
    height: 50px;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    background: rgb(150, 174, 153);
    color: rgb(29, 41, 33);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#input-div .key-input-div:hover {
    background: rgb(255, 255, 255);
    color: black;
}

#input-div .key-input-div.disabled {
    background: rgb(227, 227, 227);
    box-shadow: none;
    color: rgb(123, 121, 121);
    cursor: not-allowed;
}

#input-div .key-input-div.disabled:hover {
    color: rgb(123, 121, 121);
}


/**========================================================================
 *                           Game Div
 *========================================================================**/

#game-div {
    margin-left: 5px;
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

#game-div .game-row {
    display: flex;
    border: 1px solid black;
}

#game-div .game-part {
    display: flex;
    flex-wrap: wrap;
    width: calc(150px + 6px);
    border: 1px solid black;
}

#game-div .game-part .game-part-input {
    display: flex;
    height: 50px;
    width: 50px;
    border: .5px solid black;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#game-div .game-part .game-part-input.selected {
    background: rgb(205, 203, 203);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.75);
    color: black;
}

#game-div .game-part .game-part-input.wrong-input {
    color: black;
    background: rgba(255, 0, 0, 0.388);
}

#game-div .break {
    flex-basis: 100%;
    height: 0;
}


/**========================================================================
 *                           Tools
 *========================================================================**/

#tools {
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 20px;
    user-select: none;
    flex-wrap: wrap;
}

#tools .tool {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgb(150, 174, 153);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

#tools .tool:hover {
    background: rgb(150, 174, 153);
}

#tools .tool-new-game {
    color: rgb(57, 88, 68);
    font-weight: bold;
    border: none;
}

#tools .tool-hint {
    background: rgb(150, 174, 153);
}

#tools .tool-hint:hover {
    background: none;
}


/**========================================================================
 *                           Settings
 *========================================================================**/

#settings {
    display: flex;
    margin-block: 20px;
    user-select: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/**========================================================================
 *                           Media Querys
 *========================================================================**/

 @media screen and (max-width: 490px) {
    #game-div {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 400px) {
    #game-div {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 300px) {
    #game-div {
        transform: scale(0.5);
    }
}